{% extends "main.html" %}

{% block page-title %}
| Events | {{ exhibition.name }}
{%endblock page-title%}

{% block content %}

<h1>Exhibition {{ exhibition.id }}</h1>
ID: {{ exhibition.id }}
<br />
Name: {{ exhibition.name }}
<br />
Type: {{ exhibition.type }}
<br />
Start Datetime: {{ exhibition.start_datetime }}
<br />
Stop Datetime: {{ exhibition.stop_datetime }}
<br />
Topic:
<a href="/inventory/topics/{{ exhibition.topic.id }}/"
  >{{ exhibition.topic.name }}</a
>
<br />
Exhibition Expense: {{ exhibition.expense }}

<hr />
<a href="/events/">All Exhibitions</a>

{% endblock content %}
