{% extends "main.html" %}

{% block page-title %}
| Events | {{ sponsor.first_name }} {{ sponsor.last_name }}
{%endblock page-title%}

{% block content %}

<h1>Sponsor {{ sponsor.id }}</h1>
ID: {{ sponsor.id }}
<br />
First Name: {{ sponsor.first_name }}
<br />
Last Name: {{ sponsor.last_name }}
<br />
{% if sponsor.type == "Individual" %}
<div>Type: {{ sponsor.type }} (Individual)</div>
{% else %}
<div>Type: {{ sponsor.type }} (Organization)</div>
{% endif%}
<div class="container">
  Seminar list:
  <br />
  {% if seminar_list %}
  <ul>
    {% for seminar, amount in seminar_list %}
    <li>
      Seminar
      <a href="/events/seminars/{{ seminar.id }}/">{{ seminar.name }}</a>
      Amount: {{ amount }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<hr />
<a href="/events/sponsors/">All Sponsors</a>

{% endblock content %}
