{% extends "main.html" %} {% block content %}

<h1>Sponsors list</h1>
{% if sponsor_list %}
<ul>
  {% for sponsor in sponsor_list %}
  <li>
    {% if sponsor.type == "I" %}
    <a href="/events/sponsors/{{ sponsor.id }}/"
      >{{ sponsor.first_name }} {{ sponsor.last_name }} (Individual)</a
    >
    {% else %}
    <a href="/events/sponsors/{{ sponsor.id }}/"
      >{{ sponsor.first_name }} (Organization)</a
    >
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
<hr />
<a href="/events/">All Events</a>

{% endblock content %}
