<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Events Detail</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    ID: {{ sponsor.id }}
    <br />
    First Name: {{ sponsor.first_name }}
    <br />
    Last Name: {{ sponsor.last_name }}
    <br />
    Type: {{ sponsor.type }}
    <hr />
    <a href="/events/sponsors/">All Sponsors</a>
    <br />
    <a href="/events/">All Events</a>
  </body>
</html>
