{% extends "main.html" %}

{% block page-title %}
| Rooms
{%endblock page-title%}

{% block content %}

<h1 class="display-1 text-center">Rooms</h1>

{% if room_list %}
{% for same_capacity_room_list in room_list %}
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for room in same_capacity_room_list %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">
          {{ room.capacity }} People
        </h5>
        <p>{{ room.location }}</p>
        <a
          href="/rooms/{{ room.id }}/"
          class="stretched-link"
        ></a>
      </div>
      <div class="card-footer">
        <small class="text-muted">ID: {{ room.id }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<hr />
{% endfor %}
{% endif %}

{% endblock content %}
