{% extends "main.html" %}

{% block page-title %}
| Rooms | {{ room.id }}
{%endblock page-title%}

{% block content %}

<h1>Room {{ room.id }}</h1>
ID: {{ room.id }}
<br />
Capacity: {{ room.capacity }}
<br />
Location: {{ room.location }}
<div class="container">
  Reservation list:
  <br />
  {% if room_customers %}
  <ul>
    {% for reservation in room_customers %}
    <li>
      Date: {{ reservation.date }} Time slot: {{ reservation.time_slot }}
      Customer:
      <a href="/account/customers/{{ reservation.customer.id }}/"
        >{{ reservation.customer.first_name }}</a
      >
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<hr />
<a href="/rooms">All rooms</a>

{% endblock content %}
