{% extends "main.html" %} {% block content %}

<h1>Author {{ author.id }}</h1>
ID: {{ author.id }}
<br />
First Name: {{ author.first_name }}
<br />
Last Name: {{ author.last_name }}
<br />
Email: {{ author.email }}
<br />
Street: {{ author.street }}
<br />
City: {{ author.city }}
<br />
State: {{ author.state }}
<br />
Zipcode: {{ author.zipcode }}
<div class="container">
  Book list:
  <br />
  {% if book_list %}
  <ul>
    {% for book in book_list %}
    <li>
      <a href="/inventory/books/{{ book.id }}/">{{ book.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<hr />
<a href="/inventory/authors/">All Authors</a>
<br />
<a href="/inventory/">Inventory</a>

{% endblock content %}
