{% extends "main.html" %}

{% block page-title %}
| Inventory | Books | {{ book.name }}
{%endblock page-title%}

{% block content %}

<h1>Book {{ book.id }}</h1>
ID: {{ book.id }}
<br />
Name: {{ book.name }}
<br />
Topic:
<a href="/inventory/topics/{{ book.topic.id }}/">{{ book.topic.name }}</a>
<div class="container">
  Author list:
  <br />
  {% if author_list %}
  <ul>
    {% for author in author_list %}
    <li>
      <a href="/inventory/authors/{{ author.id }}/"
        >{{ author.first_name }} {{ author.last_name }}</a
      >
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="container">
  Copy list:
  <br />
  {% if copy_list %}
  <ul>
    {% for copy in copy_list %}
    <li>
      {% if copy.status == "A" %}
      <a href="/inventory/books/{{ book.id }}/copies/{{ copy.id }}/"
        >Copy: {{ copy.id }} (Available)
      </a>
      {% else %}
      <a href="/inventory/books/{{ book.id }}/copies/{{ copy.id }}/"
        >Copy: {{ copy.id }} (Not Available)
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<hr />
<a href="/inventory/">Inventory</a>

{% endblock content %}
