<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      Inventory | Books | {{ copy.book.id }} | Copies | {{ copy.id }}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Copy {{ copy.id }}</h1>
    ID: {{ copy.id }}
    <br />
    Status:
    {% if copy.status == "A" %}
    Available
    {% else %}
    Not Available
    {% endif %}
    <br />
    Book:
    <a href="/inventory/books/{{ copy.book.id }}/">{{ copy.book.name }}</a>
    <hr />
    <a href="/inventory/books/">All Books</a>
    <br />
    <a href="/inventory/">Inventory</a>
  </body>
</html>
