{% extends "main.html" %} {% block content %}

<h1>Welcome to inventory</h1>
<div class="container">
  <a href="/inventory/topics/">Topic list</a>
  {% if topic_list %}
  <ul>
    {% for topic in topic_list %}
    <li>
      <a href="/inventory/topics/{{ topic.id }}/">{{ topic.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="container">
  <a href="/inventory/books/">Book list</a>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
    <li>
      <a href="/inventory/books/{{ book.id }}/">{{ book.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="container">
  <a href="/inventory/authors/">Authors list</a>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
    <li>
      <a href="/inventory/authors/{{ author.id }}/"
        >{{ author.first_name }} {{ author.last_name }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<hr />
<a href="/">Home</a>

{% endblock content %}
