{% extends "main.html" %}

{% block page-title %}
| Inventory
{%endblock page-title%}

{% block content %}

<h1 class="display-1 text-center">Inventory</h1>

<div class="d-flex align-items-start">
  <div
    class="nav flex-column nav-pills me-3"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <button
      class="nav-link {% if active_tab == 'topics' %}active{% endif %}"
      id="v-pills-topics-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-topics"
      type="button"
      role="tab"
      aria-controls="v-pills-topics"
      aria-selected="{% if active_tab == 'topics' %}true{% else %}false{% endif %}"
    >
      Topics
    </button>
    <button
      class="nav-link {% if active_tab == 'books' %}active{% endif %}"
      id="v-pills-books-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-books"
      type="button"
      role="tab"
      aria-controls="v-pills-books"
      aria-selected="{% if active_tab == 'books' %}true{% else %}false{% endif %}"
    >
      Books
    </button>
    <button
      class="nav-link {% if active_tab == 'authors' %}active{% endif %}"
      id="v-pills-authors-tab"
      data-bs-toggle="pill"
      data-bs-target="#v-pills-authors"
      type="button"
      role="tab"
      aria-controls="v-pills-authors"
      aria-selected="{% if active_tab == 'authors' %}true{% else %}false{% endif %}"
    >
      Authors
    </button>
  </div>

  <div class="tab-content" id="v-pills-tabContent">
    <div
      class="tab-pane {% if active_tab == 'topics' %}active{% endif %}"
      id="v-pills-topics"
      role="tabpanel"
      aria-labelledby="v-pills-topics-tab"
      tabindex="0"
    >
      {% include "inventory/topics_tab.html" %}
    </div>
    <div
      class="tab-pane {% if active_tab == 'books' %}active{% endif %}"
      id="v-pills-books"
      role="tabpanel"
      aria-labelledby="v-pills-books-tab"
      tabindex="0"
    >
      {% include "inventory/books_tab.html" %}
    </div>
    <div
      class="tab-pane {% if active_tab == 'authors' %}active{% endif %}"
      id="v-pills-authors"
      role="tabpanel"
      aria-labelledby="v-pills-authors-tab"
      tabindex="0"
    >
      {% include "inventory/authors_tab.html" %}
    </div>
  </div>
</div>

{% endblock content %}
