{% extends "main.html" %}

{% block page-title %}
| Inventory | Topics | {{ topic.name }}
{%endblock page-title%}

{% block content %}

<h1>Topic {{ topic.id }}</h1>
ID: {{ topic.id }}
<br />
Name: {{ topic.name }}
<br />
Description: {{ topic.description }}
<div class="container">
  Book list:
  <br />
  {% if book_list %}
  <ul>
    {% for book in book_list %}
    <li>
      <a href="/inventory/books/{{ book.id }}/">{{ book.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<hr />
<a href="/inventory/">Inventory</a>

{% endblock content %}
